In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/student_records.csv')

In [3]:
df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

In [ ]:
feature_names = ['OverallGrade', 'Obedient', 'ResearchScore',
'ProjectScore']
.
..: training_features = df[feature_names]